<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482818125523-chaq06f74bqg9c9gjll4p24h1je7uao2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482818125523-chaq06f74bqg9c9gjll4p24h1je7uao2</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ126qRC2NLDDHiKQAMtQI6wyJ7mS3aJM</string>
	<key>GCM_SENDER_ID</key>
	<string>482818125523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobslocale</string>
	<key>PROJECT_ID</key>
	<string>jobs-fb5ad</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-fb5ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482818125523:ios:fd31270b98088d9cbd2e26</string>
</dict>
</plist>